= form_with(model: measurement, local: true) do |form|
  - if measurement.errors.any?
    #error_explanation
      %h2
        = pluralize(measurement.errors.count, "error")
        prohibited this measurement from being saved:
      %ul
        - measurement.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name, "Name", class: "col-md-4 control-label"
    = form.text_field :name, class: "form-control col-md-4"
  .form-group
    = form.label :unit, "Unit", class: "col-md-4 control-label"
    = form.text_field :unit, class: "form-control  col-md-4"
  .form-group
    = form.label :upper_limit, "Upper Limit", class: "col-md-4 control-label"
    = form.text_field :upper_limit, class: "form-control  col-md-4"
  .form-group
    = form.label :lower_limit, "Lower Limit", class: "col-md-4 control-label"
    = form.text_field :lower_limit, class: "form-control  col-md-4"
    .actions
      = form.submit "Submit", class: "btn btn-default btn-primary mt-4"
